<p>ようこそ、ながのCAKEへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要になります。</p>

<h1>新着商品</h1>
<%@new_items.each do |new_item|%>
<div class="itemcard">
  <%=link_to item_path(new_item.id) do%>
    <%=attachment_image_tag new_item, :image, :fill,200,150,fallback: "no_image.jpg"%>
    <p><%=new_item.name%></p>
    <p><%=new_item.price%></p>
  <%end%>
</div>
<%end%>

<%=link_to "全ての商品を見る", items_path%>