<h2>注文履歴詳細</h2>

<table>
  <tr>
    <th>購入者</th>
    <td><%=@order.customer.last_name%><%=@order.customer.first_name%></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%=@order.created_at%></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td><%=@order.shipping_pastal_code%></td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td><%=@order.payment_method%></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <%=form_with model: @order, admin_order_path(@order.id) do |f|%>
    <td><%=f.select :order_status, [['入金待ち', 0], ['入金確認', 1], ['制作中', 2], ['発送準備中', 3], ['発送済み', 4]]%><%=f.submit "更新"%></td>
    <%end%>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%@order_details.each do |order_detail|%>
      <td><%=order_detail.item.name%></td>
      <td><%=order_detail.item.add_tax_price.to_s(:dalimited)%></td>
      <td><%=order_detail.amount%></td>
      <td><%=%></td>
      <%=form_with model: @order_detail, url: admin_order_detail_path(@order_detail.id) do |f|%>
      <td>
        <%=f.select :maikeing_status, [['製作不可', 0], ['製作待ち', 1], ['制作中', 2], ['製作完了', 3]]%>
      </td>
      <td><%=f.submit "変更"%></td>
      <%end%>
    </tr>
  </tbody>
</table>

<table>
  <tr>
    <th>商品合計</th>
  </tr>
</table>