<h2>ショッピングカート</h2>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%@cart_items.each do |cart_item|%>
    <tr>
      <td><%=attachment_image_tag cart_item.item, :image, :fill,70,50,fallback: "no_image.jpg"%><%=cart_item.item.name%></td>
      <td><%=(cart_item.item.price * 1.1).floor%></td>
      <td>
        <%=form_with model: cart_item, url: cart_items_path, local: true do |f|%>
        <%=f.select :amount, *[1..10]%>
        <%end%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>